$grid-columns: 12;
$gutter: em(0);

$bg-color: #fff;

$locs-head-bg: #666;
$locs-border: #ccc;

/*
$visual-grid: true;
$visual-grid-color: yellow;
$visual-grid-index: back;
$visual-grid-opacity: 0.25;
*/
