/*
Syntax error: File to import not found or unreadable: bourbon.
              Load paths:
                /Users/erhart/Code/unc-hours/app/assets/stylesheets
                /Users/erhart/Code/unc-hours/app/assets/stylesheets
        on line 1 of /Users/erhart/Code/unc-hours/app/assets/stylesheets/application.css.scss

1: @import "bourbon";
2: @import "variables";
3: @import "neat";
4: @mixin animation($animation) {
5:     -webkit-animation: #{$animation};
6:     -moz-animation: #{$animation};

Backtrace:
/Users/erhart/Code/unc-hours/app/assets/stylesheets/application.css.scss:1
/usr/local/var/rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/tree/import_node.rb:67:in `rescue in import'
/usr/local/var/rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/tree/import_node.rb:45:in `import'
/usr/local/var/rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/tree/import_node.rb:28:in `imported_file'
/usr/local/var/rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/tree/import_node.rb:37:in `css_import?'
/usr/local/var/rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/tree/visitors/perform.rb:217:in `visit_import'
/usr/local/var/rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/tree/visitors/base.rb:37:in `visit'
/usr/local/var/rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/tree/visitors/perform.rb:100:in `visit'
/usr/local/var/rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/usr/local/var/rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/tree/visitors/base.rb:53:in `map'
/usr/local/var/rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/usr/local/var/rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/usr/local/var/rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/usr/local/var/rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/usr/local/var/rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/usr/local/var/rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/usr/local/var/rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/tree/visitors/base.rb:37:in `visit'
/usr/local/var/rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/tree/visitors/perform.rb:100:in `visit'
/usr/local/var/rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/tree/visitors/perform.rb:7:in `visit'
/usr/local/var/rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/tree/root_node.rb:20:in `render'
/usr/local/var/rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/engine.rb:315:in `_render'
/usr/local/var/rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/engine.rb:262:in `render'
/usr/local/var/rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/usr/local/var/rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/usr/local/var/rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/plugin/compiler.rb:201:in `each'
/usr/local/var/rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/usr/local/var/rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/plugin.rb:81:in `update_stylesheets'
/usr/local/var/rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/exec.rb:443:in `watch_or_update'
/usr/local/var/rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/exec.rb:326:in `process_result'
/usr/local/var/rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/exec.rb:41:in `parse'
/usr/local/var/rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/lib/sass/exec.rb:21:in `parse!'
/usr/local/var/rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/sass-3.2.11/bin/sass:9:in `<top (required)>'
/usr/local/var/rbenv/versions/2.0.0-p247/bin/sass:23:in `load'
/usr/local/var/rbenv/versions/2.0.0-p247/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: bourbon.\A               Load paths:\A                 /Users/erhart/Code/unc-hours/app/assets/stylesheets\A                 /Users/erhart/Code/unc-hours/app/assets/stylesheets\A         on line 1 of /Users/erhart/Code/unc-hours/app/assets/stylesheets/application.css.scss\A \A 1: @import \"bourbon\";\A 2: @import \"variables\";\A 3: @import \"neat\";\A 4: @mixin animation($animation) {\A 5:     -webkit-animation: #{$animation};\A 6:     -moz-animation: #{$animation};"; }
