@import "bourbon";
@import "variables";
@import "neat";
@mixin animation($animation) {
    -webkit-animation: #{$animation};
    -moz-animation: #{$animation};
	-ms-animation: #{$animation};
    animation: #{animation}
}
@include keyframes(poke) {
    0%, 20%, 50%, 80%, 100% { width: 100%; }
    40% { width: 98%; }
    60% { width: 99%;}
}

* {
    margin: 0;
    padding: 0;
}
body {
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a {
    color: #025bad;
}

#hours {
    @include outer-container;

    #locations {
        @include span-columns(5);
        @include box-shadow(1px 1px 5px 0px #aaa);
        display: table;
        table-layout: fixed;
        border-right: 1px solid $locs-border;
        border-left:  1px solida $locs-border; 
        border-radius: 10px 10px 0 0;
        z-index: 1000;
        text-align: left;
        height: 330px; // minimum height for the table

        .location-name{
            width: 75%;
            border-right: 1px solid $locs-border;
            span {
                padding: 12px 0px 13px 10px;

            }

            a { 
                font-size: 12px;
                font-weight: bold;
            }
        }

        .location-status {
            text-align: center;
            font-size: 18px;
            span {
                padding: 12px 0px 13px 0px;
            }
            a.open {color: green;}
            a.closed {color: red;}
        }
        
        th {
            white-space: nowrap;
            text-shadow:1px 1px 1px #000;
            background-color: $locs-head-bg;

            span {
                font-size: 11px;
                color: #fff;
                text-transform: uppercase;
            }
        }

        tr.location:hover {
            background-color: #ddddff;

            .location-name {
                border-right-color: #ddddff;
            }
        }
        th.location-name {
            border-radius: 10px 0 0 0;
            padding: 5px 5px 5px 12px;
        }

        th.location-status {
            border-radius: 0 10px 0 0;
            text-align: center;
        }

        tbody td {
            height: 15px;
            border-bottom: 1px solid $locs-border;
            white-space: nowrap;
            
            a {
                display: block;
                height: 100%;
                width: 100%;

                text-decoration: none;
                span {
                    display: block;
                }
            }

        }
        tfoot td {
            background-color: $locs-head-bg;
            height: 10px;
        }

    }

    #content-wrapper {
        @include span-columns(7);
        @include box-shadow(1px 1px 5px 0px #aaa);
        margin-top: 29px;
        position: relative;
        display: block;


        #slider {
            @include span-columns(7);
            @include transition(all 1s ease-out);
            background: url(img/shad2.png) no-repeat;
            background-size: 35px 100%;
            position: relative;
            min-height: 290px;
            width: 100%;
            border: 1px solid $locs-border;
            border-left: none;
            background-color: $bg-color;

            h4 {
                text-align: right;
                padding: 5px 5px 0 0;
                a {
                    text-decoration: none;
                    }
             }
            

        }
        #content {
            position: absolute;
            width: 100%;
            overflow-y: scroll;
            padding: 0 10px 10px 25px;
        }

         #map.hidden {
             width: 0;

         }   
         #map.poke {
             @include animation(poke 2s 1);
         }

        #map {
            position: absolute;
            width: 100%;
            height: 100%;
            right: 0;
            @include transition(all 1s ease-in-out);
        }
    }
}
