%tr.location
  %td.location-name
    = link_to content_tag(:span, location_row.name), root_path(location_row, id: location_row.id), remote: true
  %td.location-status
    = link_to content_tag(:span, 'Open'), root_path(location_row, id: location_row.id), class: 'open', remote: true
