.location-detail
  .location-name
    %span
      = location.name
      
  .location-url
    %span
      = location.url

  .location-desc
    %p
      = location.description
      
  .location-calendar
    = calendar year: 2013, month: 10
      
  .location.location
    .address1
      = location.address.line1
    .address2
      = location.address.line2
    .address3
      = location.address.line3
    .city-state
      %span
        = "#{location.address.city}, #{location.address.state}"
    .phone
      = location.address.zip
    - if location.handicap_accessible
      .handicap 
        %span Disability Access
    .information-desk
      %p
        %em Information Desk
      %span
        = location.phone
