%section{ id: 'hours'}
  %header{ id: 'hours-header'}
    %a{ href: '', title: SETTINGS['head_title'] }
      = SETTINGS['head_title']
  %table{id:  'locations', cellspacing: 0}
    %thead
      %tr
        %th.location-name
          %span Location Name
          %th.location-status
            %span
              At
              = @date_time.strftime '%I:%m %p'
    = render partial: 'location_row', collection: @locations 
    %tr
    %tfoot
      %tr
        %td
        %td

  #content-wrapper
    #slider
      %h4
        %a{href:"#", id:"slide-in"} ← Close
      #content
    #map
      #map-canvas
