!!! 5
%html
  %head
    %title= SETTINGS['title']
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag '//maps.googleapis.com/maps/api/js?key=AIzaSyDEQgc-SgBN9ne3gNFFOCocDP02pSYTX84&sensor=false'
    = javascript_include_tag 'application'
    
  %body
    = yield
  %footer
    %p Copyright
  
